.admin-container form {
  background: #ecf0f3;
  border-radius: 5px;
  box-shadow: 6px 6px 6px 2px gray;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  padding: 20px;
  position: relative;
  width: 80%;
}

.admin-form-container label {
  font-size: 18px;
  font-weight: 500;
}

.admin-form-container input {
  border-color: gray;
  border-radius: 4px;
  border-style: solid 1px;
  font-size: 14px;
  font-weight: 700;
  padding: 8px;
}

.admin-form-container select {
  padding: 8px;
  width: 100%;
}

.admin-container span {
  color: gray;
}

.admin-form-container button {
  align-items: center;
  background: #036b52;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  height: 34px;
  margin: 10px;
  opacity: 0.8;
  outline: none;
  transition: 0.5s;
  width: 180px;
}

.btn-register button:disabled {
  background-color: rgba(3, 107, 82, 0.5);
  color: white;
  display: flex;
  justify-content: center;
}

.span-admin-error {
  color: grey;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
